.post-content {
    margin-top: 2rem;

    table {
        border-collapse: collapse;
        margin: 25px auto;
        font-size: 0.9em;
        min-width: 400px;
        max-width: 100%;

        th,
        td {
            padding: 12px 15px;
            border: 1px solid $dark-table-color;

            & {
                border: 1px solid $dark-table-color;
            }
        }

        thead {
            tr {
                text-align: left;
                background-color: $dark-table-color;
                color: $dark-color;

                & {
                    background-color: $dark-table-color;
                    color: $dark-color;
                }
            }
        }

        tbody {
            tr {
                border: 1px solid $dark-table-color;

                & {
                    border: 1px solid $dark-table-color;
                }
            }
        }
    }
}