.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px 10px;
    background: var(--dark-background-header);
}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
}

.header-search {
    width: 18px;
    height: 18px;
    cursor: pointer;
    transition-property: color;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: 200ms;
}

.header-search:hover {
    color: var(--dark-color-menu-hover);
}

@media (max-width: 684px) {
    .header {
        padding: 20px 15px 20px 10px;
    }
}
