.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-display: auto;
    font-family: monospace, monospace;
    font-size: 1rem;
}

.logo img {
    height: 44px;
}

.logo-home {
    color: var(--light-blue);
}

.logo-dev {
    color: var(--dark-blue);
}

.logo-folder {
    color: var(--light-blue);
}

.logo-branch,
.logo-terminal_separator {
    color: var(--green-terminal);
    margin-left: 0.5rem;
}

.logo-cursor {
    display: inline-block;
    width: 8px;
    height: 18px;
    background: #C7C7C7;
    margin-left: 0.5rem;
    border-radius: 1px;
    animation: cursor 1s infinite;
}

@media (prefers-reduced-motion: reduce) {
    .logo-cursor {
        animation: none;
    }
}

@keyframes cursor {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
