<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="{{ .Site.Language.Params.Author.name | safeJS }}">

<!-- Preload Critical Fonts -->
<link rel="preload" href="/fonts/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/Inter-Italic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/Inter-Medium.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/Inter-MediumItalic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/Inter-Bold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/Inter-BoldItalic.woff2" as="font" type="font/woff2" crossorigin>

{{ if .IsPage }}
    <meta name="description" content="{{ .Description | safeJS }}" />
{{ else }}
    <meta name="description" content="{{ .Site.Params.description }}" />
{{ end }}

<meta name="keywords" content="developer, programming, clean code, systems, build tools" />
<meta name="googlebot" content="index,follow">
<meta name="robots" content="index,follow" />
<meta name="google-site-verification" content="46mzmGDy4hTNPLodO7_8AARDlItjbEY7WZTDlAkRynE" />
<meta name="theme-color" content="#A9A9B3" />
<link rel="canonical" href="{{ .Permalink }}" />

{{ block "title" . }}
    {{ if .IsHome }}
        <title>{{ .Site.Params.homeTitle }}</title>
    {{ else }}
        <title>{{ .Title }}</title>
    {{ end }}
{{ end }}

<!-- Schema.org -->
{{- partial "schema.html" . }}

<!-- OpenGraph -->
{{- partial "opengraph.html" . }}

<!-- CSS -->
{{ $options := (dict "targetPath" "main.css" "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $style := resources.Get "scss/main.scss" | css.Sass $options | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

{{ range $val := $.Site.Params.customCSS }}
    {{ if gt (len $val) 0 }}
        <link rel="stylesheet" type="text/css" href="{{ $val }}">
    {{ end }}
{{ end }}

<!-- Icons -->
{{- partial "favicons.html" . }}

{{ range .Params.categories }}
    <meta property="article:section" content="{{ . }}" />
{{ end }}

{{ if isset .Params "date" }}
    <meta property="article:published_time" content="{{ time .Date }}" />
{{ end }}

<!-- RSS -->
{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<!-- JSON Feed -->
{{ if .OutputFormats.Get "json" }}
    <link rel="alternate" type="application/json" href="{{ if .OutputFormats.Get "json" }}{{ .Site.BaseURL }}feed.json{{ end }}" title="{{ .Site.Title }}"/>
{{ end }}
