{{ $assets := newScratch }}

{{ $menu := resources.Get "js/menu.js" }}
{{ $search := resources.Get "js/search.js" }}
{{ $assets.Add "js" (slice $menu $search) }}

{{ $prism := resources.Get "js/prism.js" }}
{{ $fuse := resources.Get "js/libs/fuse.min.js" }}
{{ $assets.Add "js" (slice $prism $fuse) }}

{{ $bundle := $assets.Get "js" | resources.Concat "bundle.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $bundle.RelPermalink }}" integrity="{{ $bundle.Data.Integrity }}"></script>

{{ if eq .Site.Params.Env "pro"}}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZFD81JVCQZ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-ZFD81JVCQZ');
    </script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4262890370207958"
         crossorigin="anonymous"></script>
{{ end }}

{{ range $val := $.Site.Params.customJS }}
    {{ if gt (len $val) 0 }}
        <script src="{{ $val }}"></script>
    {{ end }}
{{ end }}
