<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ $.Title }} | {{ .Site.Params.homeTitle }}">
<meta property="og:description" content="{{ .Site.Params.description }}">
<meta property="og:image" content="/opengraph.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="tanis.codes">
<meta property="twitter:url" content="{{ .Permalink }}">
<meta name="twitter:title" content="{{ $.Title }} | {{ .Site.Params.homeTitle }}">
<meta name="twitter:description" content="{{ .Site.Params.description }}">
<meta name="twitter:image" content="/opengraph.png">