{{ if (or .NextInSection .PrevInSection) }}
    <div class="post-nav">
        <div class="post-nav__label">Read other posts</div>
        <div class="post-nav__grid">
            {{ range (slice .NextInSection .PrevInSection) }}
                {{ with . }}
                    <a class="card tag-post-item" href="{{ .Permalink }}">
                        {{ partial "post-image.html" (dict "page" . "size" "avatar" "pxsize" 40) }}
                        <div class="tag-post-item__body">
                            <h2 class="tag-post-item__title">{{ .Title }}</h2>
                            <div class="tag-post-item__meta">{{ .Date.Format "January 2, 2006" }} &middot; {{ .ReadingTime }} min</div>
                        </div>
                    </a>
                {{ end }}
            {{ end }}
        </div>
    </div>
{{ end }}
