{{ if (or .NextInSection .PrevInSection) }}
    <div class="post-nav">
        <div class="post-nav__label">Read other posts</div>
        <div class="post-nav__grid">
            {{ if .NextInSection }}
                <a class="card post-nav__card" href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }}</a>
            {{ end }}

            {{ if .PrevInSection }}
                <a class="card post-nav__card" href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title }}</a>
            {{ end }}
        </div>
    </div>
{{ end }}
