{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main aria-role="main">
        <div>
            {{ $paginator := .Paginate (where .Site.RegularPages "Type" "==" "posts") }}
                {{ range $paginator.Pages }}

                <a class="home-article" href="{{.Permalink}}">
                    <div class="home-article-image">
                        <img src="{{ with .Params.image }}{{ . }}{{ end }}" decoding="async" width="60" height="60" alt="{{ .Title }}"/>
                    </div>
                    <div class="home-article-content">
                        <h2>{{ .Title }}</h2>
                        <span>{{ .Date }}</span>
                    </div>
                </a>
            {{ end }}

            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}

            <h1>{{ .Site.Title }}</h1>

            {{ partial "subtitle.html" . }}

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
    </main>
{{ end }}
